{% extends 'base.html' %}
{% block tab %}Assignment 4{% endblock %}
{% block title %}<h1 class='text-center'>Web Scraping and Entry to Database</h1>{% endblock %}
{% block content %}
<form action="#" method="post" class="row d-flex justify-content-center ">
    <div class="col-auto">
      <input type="text" name="coin" class="form-control" placeholder="Enter your Coin name">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-dark mb-3">Check</button>
    </div>
</form>
{% endblock %}
© 2021 GitHub, Inc.